@page "/details"

<h1>Bookings</h1>

@*<img src="Bookings.jpg" alt="Bookings" width="1024" height="680">*@

<p>The <b>Moonee Valley Athletics Centre</b> is booked by clubs, schools and private hirers. During these times the hirer has
<font color="blue"><b>EXCLUSIVE</b></font> use of the Centre. Members of the public must cooperate with all requests made by a hirer, Recreation Centre Attendant or an Authorised Officer to relocate or vacate the Centre during these times. Failure to comply with all rules displayed, obey all signs and/or comply with any directions of an Authorised Officer is an offence under <b>Section 15 of Council's General Purposes Local Law 2008</b>.</p>

<h2>Regular private booking times</h2>
<i>(Resident Clubs)</i><br />
<ul>
<li>Monday 4.30-9.00pm</li>
<li>Tuesday 5pm-7.30pm</li>
<li>Wednesday 4pm-9.30pm</li>
<li>Thursday 5pm-7.30pm</li>
<li>Friday 5pm-10pm</li>
<li>Saturday 7am-6pm</li>
<li>Sunday 9am-1pm & 4pm - 5.30pm</li>
</ul>

<p>For any enquiries about bookings or use of the centre, please contact the Council on 9243 8888.</p>

<p>The City of Moonee Valley City Council takes no responsibility for injury and/or loss/damage of property through use of this facility. Moonee Valley.</p>
