@page "/"

<h1>About</h1>

<b>Moonee Valley Athletics Centre is a <a href="https://mvcc.vic.gov.au/">Moonee Valley Council</a> public sporting facility.</b><br />
The resident clubs have exclusive use in their weekly booking slots, as do the occassional bookings.<br />
Other organisations <i>(such as schools)</i> book the facility at other times and have exclusive use during those times.<br />
Please respect their bookings.<br> <br />

This site lists the recurring and occassional bookings for the centre. <br />

<h3>Disclaimer</h3>
<i>This site is maintained by Athletics Essendon Inc and is a copy of information that is posted by the MooneeValley City Council at the
gate to the centre. The information as posted by the council at the gate to the centre is the authoritive statement on these matter, not this web site.</i>

