@page "/overview"


<h1>Overview</h1>

@*<img src="Overview.jpg" alt="Overview" width="1024" height="680">*@
<h2>Conditions of Entry</h2>
<ul>
<li>Common courtesy and consieration is expected of all users.</li>
<li>Spikes must not exceed 7mm</li>
<li>Throwing actiities should be contained to their respective areas where cationary signs must be displayed.</li>
<li>Bikes, skateboards, in-line skates and ball games are strictly prohibited.</li>
<li>All users are to leave the centre clean, return equipment to the storage.</li>
<li>Sand pits should be inspected prior to use and to deposit rubbish in the bins provided.</li>
<li>Dogs prohibited (Guide dogs permitted).</li>
<li>This is a drug and alcohol free facility.</li>
<li>Moonee Valeey City Council takes no resposnsibility for injury and/or loss/damage of property through the use of this centre.</li>
<li>All users are to leave the centre clean, return equipment to the storage.</li>
</ul>

<p>Failure to comply with the above conditions relating to a Municipal Recreation Centre, may result in the issuing of an infringement pursuant to Council's General Purposes Local Law 2008</p>

<h2>Bookings</h2>

<p>Use of the facility, resources and pavilion must be booked through Moonee Valley Council on 92438888</p>

