@page "/residents"

<h1>Resident Clubs</h1>

<ul>
    <li><a href="https://www.athleticsessendon.org.au/">Athletics Essendon</a></li>
    <li><a href="https://www.facebook.com/Aberfeldie-Masters-Athletics-580758232333487">Aberfeldie Masters</a></li>
    <li><a href="http://elac.com.au">Essendon Little Athletics Centre</a></li>
    <li>Special Olympics</li>
</ul>


